fastapi>=0.95
uvicorn[standard]>=0.22
requests>=2.32.3
openai>=1.79.0
deepteam @ git+https://github.com/confident-ai/deepteam.git@main#egg=deepteam
networkx>=3.4.2
scikit-learn>=1.6.1
numpy>=2.2.6
pydantic>=2.11.4
google-cloud-secret-manager==2.11.0
